# Çalıştırmadan önce kopyalayıp .env yap
JWT_SECRET=değiştir_bunu
OPENAI_API_KEY=
VECTOR_DB_PATH=./backend/ai_components/vector_db
BACKEND_URL=http://localhost:8000
POSTGRES_URL=postgresql://username:password@localhost:5432/hukuk_ai
